<kendo-appbar position="top">
    <kendo-appbar-section>
        <button kendoButton fillMode="flat">
            <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
        </button>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <h1 class="title">Kendo UI Practice App</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

    <kendo-appbar-section>
        <ul>
            <li><span>What's New</span></li>
            <li><span>About</span></li>
            <li><span>Contacts</span></li>
        </ul>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section class="actions">
        <kendo-badge-container>
            <button kendoButton fillMode="flat">
                <kendo-svgicon [icon]="bellIcon"></kendo-svgicon>
            </button>
            <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
        </kendo-badge-container>
        <span class="k-appbar-separator"></span>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
    </kendo-appbar-section>
</kendo-appbar>

<!-- tile layout of the page  -->

<kendo-tilelayout [columns]="4" [rowHeight]="600" [resizable]="true" [reorderable]="true">
    <kendo-tilelayout-item title="Products" [col]="1" [colSpan]="3">
        <kendo-tilelayout-item-body>
            <app-grid></app-grid>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Conversion Rate" [col]="4">
        <kendo-tilelayout-item-body>
            <app-inputs></app-inputs>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Most Visited Pages" [col]="1" [colSpan]="2">
        <kendo-tilelayout-item-body>
            <!-- <most-visited-chart></most-visited-chart> -->
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Currently" [col]="3">
        <kendo-tilelayout-item-body>
            <h3>2399</h3>
            <div>Active users right now</div>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Dropdowns" [col]="4" [rowSpan]="1">
        <kendo-tilelayout-item-body>
            <app-dropdown></app-dropdown>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <!-- <kendo-tilelayout-item title="Users By Channel" [col]="1" [colSpan]="2" [rowSpan]="2">
      <kendo-tilelayout-item-body>
        
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item title="Bounce Rate" [col]="3">
      <kendo-tilelayout-item-body>
        <h3>55%</h3>
        <div>
          The percentage of all sessions on your site in which users viewed
          only a single page.
        </div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->

    <!-- <kendo-tilelayout-item title="Conversion This Month" [col]="3" [colSpan]="2">
      <kendo-tilelayout-item-body>
    
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->
</kendo-tilelayout>