<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="navigators" style="height: 100%; border-right: 1px solid;" routerLink="./angular17">
                <img src="../../../assets/images/angular.png" width="200px" alt="">
            </div>
        </div>
        <div class="col-6">
            <div class="navigators" routerLink="./kendo">
                <img src="../../../assets/images/kendo.png" alt="">
            </div>
            <div class="navigators" routerLink="./prime" style="border-top: 1px solid;">
                <img src="../../../assets/images/prime.png" alt="">
            </div>
        </div>
    </div>

</div>